<div class="container mt-4">
    <h1 class="text-center mb-4">Pokémon Tournament Statistics</h1>
  
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <label for="sortBy">Sort By:</label>
          <select
            id="sortBy"
            [(ngModel)]="selectedSortBy"
            (change)="onSortByChange()"
            class="form-control"
          >
            <option *ngFor="let option of sortByOptions" [value]="option">
              {{ option | titlecase }}
            </option>
          </select>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <label for="sortDirection">Sort Direction:</label>
          <select
            id="sortDirection"
            [(ngModel)]="selectedSortDirection"
            (change)="onSortDirectionChange()"
            class="form-control"
          >
            <option *ngFor="let option of sortDirectionOptions" [value]="option">
              {{ option | titlecase }}
            </option>
          </select>
        </div>
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      <p>{{ errorMessage }}</p>
    </div>
  
    <table *ngIf="pokemons.length > 0" class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Ties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of pokemons">
          <td>{{ pokemon.id }}</td>
          <td>{{ pokemon.name | titlecase }}</td>
          <td>{{ pokemon.type | titlecase }}</td>
          <td>{{ pokemon.wins }}</td>
          <td>{{ pokemon.losses }}</td>
          <td>{{ pokemon.ties }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  